*.csproj
*.sln
Packages
/Library/
/Logs/
/ProjectSettings/
/UserSettings/
/Temp/
*.md
*.ps1
*.pdf
EULA.txt
banner.png
/obj/
*.user
*.bat
.idea/
/Assets/*
!/Assets/ck-tweaks/


!/Assets/ck-tweaks/**/*.meta

!/Assets/ck-tweaks.meta
!.gitignore

